<head>

    <!-- Basic Page Needs
  ================================================== -->
    <meta charset="utf-8">
    <title>辉锅锅</title>
    <meta name="description" content="Free Responsive Html5 Css3 Templates | zerotheme.com">
    <meta name="author" content="www.zerotheme.com">

    <!-- Mobile Specific Metas
  ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
  ================================================== -->
    <link rel="stylesheet" href="/css/zerogrid.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/component.css">
    <link rel="stylesheet" href="/css/responsive.css">


    <link href='/images/favicon.ico' rel='icon' type='image/x-icon'/>

</head>